#
# Languages
#

#
# Erlang
#
# CONFIG_PACKAGE_erlang is not set
# CONFIG_PACKAGE_erlang-asn1 is not set
# CONFIG_PACKAGE_erlang-compiler is not set
# CONFIG_PACKAGE_erlang-crypto is not set
# CONFIG_PACKAGE_erlang-erl-interface is not set
# CONFIG_PACKAGE_erlang-hipe is not set
# CONFIG_PACKAGE_erlang-inets is not set
# CONFIG_PACKAGE_erlang-mnesia is not set
# CONFIG_PACKAGE_erlang-os_mon is not set
# CONFIG_PACKAGE_erlang-public-key is not set
# CONFIG_PACKAGE_erlang-reltool is not set
# CONFIG_PACKAGE_erlang-runtime-tools is not set
# CONFIG_PACKAGE_erlang-snmp is not set
# CONFIG_PACKAGE_erlang-ssh is not set
# CONFIG_PACKAGE_erlang-ssl is not set
# CONFIG_PACKAGE_erlang-syntax-tools is not set
# CONFIG_PACKAGE_erlang-tools is not set
# CONFIG_PACKAGE_erlang-xmerl is not set
# end of Erlang

#
# Go
#
# CONFIG_PACKAGE_golang is not set

#
# Configuration
#
CONFIG_GOLANG_EXTERNAL_BOOTSTRAP_ROOT=""
# end of Configuration

# CONFIG_PACKAGE_golang-doc is not set
# CONFIG_PACKAGE_golang-github-jedisct1-dnscrypt-proxy2-dev is not set
# CONFIG_PACKAGE_golang-github-nextdns-nextdns-dev is not set
# CONFIG_PACKAGE_golang-gitlab-yawning-obfs4-dev is not set
# CONFIG_PACKAGE_golang-src is not set
# CONFIG_PACKAGE_golang-torproject-tor-fw-helper-dev is not set
# end of Go

#
# Lua
#
# CONFIG_PACKAGE_dkjson is not set
# CONFIG_PACKAGE_json4lua is not set
# CONFIG_PACKAGE_ldbus is not set
CONFIG_PACKAGE_libiwinfo-lua=y
# CONFIG_PACKAGE_lpeg is not set
# CONFIG_PACKAGE_lsqlite3 is not set
CONFIG_PACKAGE_lua=y
# CONFIG_PACKAGE_lua-bencode is not set
# CONFIG_PACKAGE_lua-bit32 is not set
CONFIG_PACKAGE_lua-cjson=y
# CONFIG_PACKAGE_lua-copas is not set
# CONFIG_PACKAGE_lua-coxpcall is not set
# CONFIG_PACKAGE_lua-ev is not set
# CONFIG_PACKAGE_lua-examples is not set
# CONFIG_PACKAGE_lua-libmodbus is not set
# CONFIG_PACKAGE_lua-lzlib is not set
# CONFIG_PACKAGE_lua-md5 is not set
# CONFIG_PACKAGE_lua-mobdebug is not set
# CONFIG_PACKAGE_lua-mosquitto is not set
# CONFIG_PACKAGE_lua-openssl is not set
# CONFIG_PACKAGE_lua-penlight is not set
# CONFIG_PACKAGE_lua-rings is not set
# CONFIG_PACKAGE_lua-rs232 is not set
# CONFIG_PACKAGE_lua-sha2 is not set
# CONFIG_PACKAGE_lua-wsapi-base is not set
# CONFIG_PACKAGE_lua-wsapi-xavante is not set
# CONFIG_PACKAGE_lua-xavante is not set
# CONFIG_PACKAGE_lua5.3 is not set
# CONFIG_PACKAGE_luabitop is not set
# CONFIG_PACKAGE_luac is not set
# CONFIG_PACKAGE_luac5.3 is not set
# CONFIG_PACKAGE_luaexpat is not set
# CONFIG_PACKAGE_luafilesystem is not set
# CONFIG_PACKAGE_luajit is not set
# CONFIG_PACKAGE_lualanes is not set
# CONFIG_PACKAGE_luaposix is not set
# CONFIG_PACKAGE_luarocks is not set
# CONFIG_PACKAGE_luasec is not set
# CONFIG_PACKAGE_luasoap is not set
# CONFIG_PACKAGE_luasocket is not set
# CONFIG_PACKAGE_luasocket5.3 is not set
# CONFIG_PACKAGE_luasql-mysql is not set
# CONFIG_PACKAGE_luasql-pgsql is not set
# CONFIG_PACKAGE_luasql-sqlite3 is not set
# CONFIG_PACKAGE_luasrcdiet is not set
CONFIG_PACKAGE_luci-lib-fs=y
# CONFIG_PACKAGE_luv is not set
# CONFIG_PACKAGE_lzmq is not set
# CONFIG_PACKAGE_uuid is not set
# end of Lua

#
# Node.js
#
CONFIG_PACKAGE_node=y
CONFIG_NODEJS_ICU_NONE=y
# CONFIG_NODEJS_ICU_SMALL is not set
# CONFIG_NODEJS_ICU_SYSTEM is not set
# CONFIG_PACKAGE_node-arduino-firmata is not set
# CONFIG_PACKAGE_node-cylon is not set
# CONFIG_PACKAGE_node-cylon-firmata is not set
# CONFIG_PACKAGE_node-cylon-gpio is not set
# CONFIG_PACKAGE_node-cylon-i2c is not set
# CONFIG_PACKAGE_node-hid is not set
# CONFIG_PACKAGE_node-homebridge is not set
# CONFIG_PACKAGE_node-javascript-obfuscator is not set
# CONFIG_PACKAGE_node-npm is not set
# CONFIG_PACKAGE_node-serialport is not set
# CONFIG_PACKAGE_node-serialport-bindings is not set
# end of Node.js

#
# PHP
#
CONFIG_PACKAGE_php7=y
# CONFIG_PACKAGE_php7-cgi is not set
# CONFIG_PACKAGE_php7-cli is not set
# CONFIG_PACKAGE_php7-fastcgi is not set
CONFIG_PACKAGE_php7-fpm=y
# CONFIG_PACKAGE_php7-mod-bcmath is not set
# CONFIG_PACKAGE_php7-mod-calendar is not set
# CONFIG_PACKAGE_php7-mod-ctype is not set
CONFIG_PACKAGE_php7-mod-curl=y
# CONFIG_PACKAGE_php7-mod-dom is not set
# CONFIG_PACKAGE_php7-mod-exif is not set
# CONFIG_PACKAGE_php7-mod-fileinfo is not set
# CONFIG_PACKAGE_php7-mod-filter is not set
# CONFIG_PACKAGE_php7-mod-ftp is not set
CONFIG_PACKAGE_php7-mod-gd=y
# CONFIG_PACKAGE_php7-mod-gettext is not set
# CONFIG_PACKAGE_php7-mod-gmp is not set
CONFIG_PACKAGE_php7-mod-iconv=y
# CONFIG_PACKAGE_php7-mod-imap is not set
# CONFIG_PACKAGE_php7-mod-intl is not set
CONFIG_PACKAGE_php7-mod-json=y
# CONFIG_PACKAGE_php7-mod-ldap is not set
CONFIG_PACKAGE_php7-mod-mbstring=y
# CONFIG_PACKAGE_php7-mod-mysqli is not set
CONFIG_PACKAGE_php7-mod-mysqlnd=y
CONFIG_PACKAGE_php7-mod-opcache=y
# CONFIG_PACKAGE_php7-mod-openssl is not set
# CONFIG_PACKAGE_php7-mod-pcntl is not set
CONFIG_PACKAGE_php7-mod-pdo=y
CONFIG_PACKAGE_php7-mod-pdo-mysql=y
# CONFIG_PACKAGE_php7-mod-pdo-pgsql is not set
CONFIG_PACKAGE_php7-mod-pdo-sqlite=y
# CONFIG_PACKAGE_php7-mod-pgsql is not set
# CONFIG_PACKAGE_php7-mod-phar is not set
CONFIG_PACKAGE_php7-mod-session=y
# CONFIG_PACKAGE_php7-mod-shmop is not set
# CONFIG_PACKAGE_php7-mod-simplexml is not set
# CONFIG_PACKAGE_php7-mod-snmp is not set
# CONFIG_PACKAGE_php7-mod-soap is not set
# CONFIG_PACKAGE_php7-mod-sockets is not set
CONFIG_PACKAGE_php7-mod-sqlite3=y
# CONFIG_PACKAGE_php7-mod-sysvmsg is not set
# CONFIG_PACKAGE_php7-mod-sysvsem is not set
# CONFIG_PACKAGE_php7-mod-sysvshm is not set
# CONFIG_PACKAGE_php7-mod-tokenizer is not set
# CONFIG_PACKAGE_php7-mod-xml is not set
# CONFIG_PACKAGE_php7-mod-xmlreader is not set
# CONFIG_PACKAGE_php7-mod-xmlwriter is not set
CONFIG_PACKAGE_php7-mod-zip=y
# CONFIG_PACKAGE_php7-pecl-dio is not set
# CONFIG_PACKAGE_php7-pecl-http is not set
# CONFIG_PACKAGE_php7-pecl-krb5 is not set
# CONFIG_PACKAGE_php7-pecl-libevent is not set
# CONFIG_PACKAGE_php7-pecl-mcrypt is not set
# CONFIG_PACKAGE_php7-pecl-propro is not set
# CONFIG_PACKAGE_php7-pecl-raphf is not set
# CONFIG_PACKAGE_php7-pecl-redis is not set
# end of PHP

#
# Perl
#
CONFIG_PACKAGE_perl=y

#
# Configuration
#
CONFIG_PERL_THREADS=y
# CONFIG_PERL_TESTS is not set
CONFIG_PERL_NOCOMMENT=y
# end of Configuration

# CONFIG_PACKAGE_perl-authen-sasl is not set
# CONFIG_PACKAGE_perl-authen-sasl-xs is not set
# CONFIG_PACKAGE_perl-cgi is not set
# CONFIG_PACKAGE_perl-compress-bzip2 is not set
# CONFIG_PACKAGE_perl-dbi is not set
# CONFIG_PACKAGE_perl-device-serialport is not set
# CONFIG_PACKAGE_perl-device-usb is not set
# CONFIG_PACKAGE_perl-encode-locale is not set
# CONFIG_PACKAGE_perl-file-listing is not set
# CONFIG_PACKAGE_perl-file-rsyncp is not set
# CONFIG_PACKAGE_perl-file-sharedir-install is not set
# CONFIG_PACKAGE_perl-html-form is not set
# CONFIG_PACKAGE_perl-html-parser is not set
# CONFIG_PACKAGE_perl-html-tagset is not set
# CONFIG_PACKAGE_perl-html-tree is not set
# CONFIG_PACKAGE_perl-http-cookies is not set
# CONFIG_PACKAGE_perl-http-daemon is not set
CONFIG_PACKAGE_perl-http-date=y
# CONFIG_PACKAGE_perl-http-message is not set
# CONFIG_PACKAGE_perl-http-negotiate is not set
# CONFIG_PACKAGE_perl-http-server-simple is not set
# CONFIG_PACKAGE_perl-inline is not set
# CONFIG_PACKAGE_perl-inline-c is not set
# CONFIG_PACKAGE_perl-io-html is not set
# CONFIG_PACKAGE_perl-lockfile-simple is not set
# CONFIG_PACKAGE_perl-lwp-mediatypes is not set
# CONFIG_PACKAGE_perl-net-cidr-lite is not set
# CONFIG_PACKAGE_perl-net-http is not set
# CONFIG_PACKAGE_perl-net-telnet is not set
# CONFIG_PACKAGE_perl-parse-recdescent is not set
# CONFIG_PACKAGE_perl-parse-yapp is not set
# CONFIG_PACKAGE_perl-sub-uplevel is not set
# CONFIG_PACKAGE_perl-test-harness is not set
# CONFIG_PACKAGE_perl-test-warn is not set
# CONFIG_PACKAGE_perl-text-csv_xs is not set
# CONFIG_PACKAGE_perl-uri is not set
# CONFIG_PACKAGE_perl-www is not set
# CONFIG_PACKAGE_perl-www-curl is not set
# CONFIG_PACKAGE_perl-www-mechanize is not set
# CONFIG_PACKAGE_perl-www-robotrules is not set
CONFIG_PACKAGE_perl-xml-parser=y
# CONFIG_PACKAGE_perlbase-anydbm-file is not set
# CONFIG_PACKAGE_perlbase-app is not set
# CONFIG_PACKAGE_perlbase-archive is not set
# CONFIG_PACKAGE_perlbase-arybase is not set
# CONFIG_PACKAGE_perlbase-attribute is not set
# CONFIG_PACKAGE_perlbase-attributes is not set
# CONFIG_PACKAGE_perlbase-autodie is not set
# CONFIG_PACKAGE_perlbase-autoloader is not set
CONFIG_PACKAGE_perlbase-autosplit=y
# CONFIG_PACKAGE_perlbase-autouse is not set
CONFIG_PACKAGE_perlbase-b=y
CONFIG_PACKAGE_perlbase-base=y
# CONFIG_PACKAGE_perlbase-benchmark is not set
# CONFIG_PACKAGE_perlbase-bigint is not set
# CONFIG_PACKAGE_perlbase-bignum is not set
# CONFIG_PACKAGE_perlbase-blib is not set
CONFIG_PACKAGE_perlbase-bytes=y
CONFIG_PACKAGE_perlbase-charnames=y
CONFIG_PACKAGE_perlbase-class=y
# CONFIG_PACKAGE_perlbase-compress is not set
CONFIG_PACKAGE_perlbase-config=y
# CONFIG_PACKAGE_perlbase-cpan is not set
CONFIG_PACKAGE_perlbase-cwd=y
# CONFIG_PACKAGE_perlbase-data is not set
# CONFIG_PACKAGE_perlbase-db is not set
# CONFIG_PACKAGE_perlbase-db-file is not set
# CONFIG_PACKAGE_perlbase-dbm-filter is not set
# CONFIG_PACKAGE_perlbase-devel is not set
# CONFIG_PACKAGE_perlbase-diagnostics is not set
# CONFIG_PACKAGE_perlbase-digest is not set
CONFIG_PACKAGE_perlbase-dirhandle=y
# CONFIG_PACKAGE_perlbase-dumpvalue is not set
# CONFIG_PACKAGE_perlbase-dumpvar is not set
CONFIG_PACKAGE_perlbase-dynaloader=y
CONFIG_PACKAGE_perlbase-encode=y
CONFIG_PACKAGE_perlbase-encoding=y
# CONFIG_PACKAGE_perlbase-english is not set
CONFIG_PACKAGE_perlbase-env=y
CONFIG_PACKAGE_perlbase-errno=y
CONFIG_PACKAGE_perlbase-essential=y
# CONFIG_PACKAGE_perlbase-experimental is not set
CONFIG_PACKAGE_perlbase-extutils=y
# CONFIG_PACKAGE_perlbase-fatal is not set
CONFIG_PACKAGE_perlbase-fcntl=y
CONFIG_PACKAGE_perlbase-feature=y
# CONFIG_PACKAGE_perlbase-fields is not set
CONFIG_PACKAGE_perlbase-file=y
# CONFIG_PACKAGE_perlbase-filecache is not set
CONFIG_PACKAGE_perlbase-filehandle=y
# CONFIG_PACKAGE_perlbase-filetest is not set
# CONFIG_PACKAGE_perlbase-filter is not set
# CONFIG_PACKAGE_perlbase-findbin is not set
# CONFIG_PACKAGE_perlbase-gdbm-file is not set
CONFIG_PACKAGE_perlbase-getopt=y
# CONFIG_PACKAGE_perlbase-hash is not set
# CONFIG_PACKAGE_perlbase-http-tiny is not set
CONFIG_PACKAGE_perlbase-i18n=y
# CONFIG_PACKAGE_perlbase-if is not set
CONFIG_PACKAGE_perlbase-integer=y
CONFIG_PACKAGE_perlbase-io=y
CONFIG_PACKAGE_perlbase-ipc=y
# CONFIG_PACKAGE_perlbase-json-pp is not set
# CONFIG_PACKAGE_perlbase-less is not set
CONFIG_PACKAGE_perlbase-list=y
CONFIG_PACKAGE_perlbase-locale=y
# CONFIG_PACKAGE_perlbase-math is not set
# CONFIG_PACKAGE_perlbase-memoize is not set
# CONFIG_PACKAGE_perlbase-meta-notation is not set
CONFIG_PACKAGE_perlbase-mime=y
# CONFIG_PACKAGE_perlbase-module is not set
# CONFIG_PACKAGE_perlbase-mro is not set
# CONFIG_PACKAGE_perlbase-net is not set
# CONFIG_PACKAGE_perlbase-next is not set
# CONFIG_PACKAGE_perlbase-o is not set
# CONFIG_PACKAGE_perlbase-opcode is not set
# CONFIG_PACKAGE_perlbase-open is not set
# CONFIG_PACKAGE_perlbase-ops is not set
CONFIG_PACKAGE_perlbase-ostype=y
CONFIG_PACKAGE_perlbase-params=y
# CONFIG_PACKAGE_perlbase-perl5db is not set
# CONFIG_PACKAGE_perlbase-perlio is not set
# CONFIG_PACKAGE_perlbase-pod is not set
CONFIG_PACKAGE_perlbase-posix=y
CONFIG_PACKAGE_perlbase-re=y
# CONFIG_PACKAGE_perlbase-safe is not set
CONFIG_PACKAGE_perlbase-scalar=y
# CONFIG_PACKAGE_perlbase-sdbm-file is not set
# CONFIG_PACKAGE_perlbase-search is not set
CONFIG_PACKAGE_perlbase-selectsaver=y
CONFIG_PACKAGE_perlbase-selfloader=y
# CONFIG_PACKAGE_perlbase-sigtrap is not set
CONFIG_PACKAGE_perlbase-socket=y
# CONFIG_PACKAGE_perlbase-sort is not set
# CONFIG_PACKAGE_perlbase-storable is not set
CONFIG_PACKAGE_perlbase-symbol=y
# CONFIG_PACKAGE_perlbase-sys is not set
# CONFIG_PACKAGE_perlbase-tap is not set
# CONFIG_PACKAGE_perlbase-term is not set
# CONFIG_PACKAGE_perlbase-test is not set
CONFIG_PACKAGE_perlbase-text=y
CONFIG_PACKAGE_perlbase-thread=y
CONFIG_PACKAGE_perlbase-threads=y
CONFIG_PACKAGE_perlbase-tie=y
CONFIG_PACKAGE_perlbase-time=y
CONFIG_PACKAGE_perlbase-unicode=y
CONFIG_PACKAGE_perlbase-unicore=y
# CONFIG_PACKAGE_perlbase-universal is not set
# CONFIG_PACKAGE_perlbase-user is not set
CONFIG_PACKAGE_perlbase-utf8=y
# CONFIG_PACKAGE_perlbase-version is not set
CONFIG_PACKAGE_perlbase-xsloader=y
# end of Perl

#
# Python
#
# CONFIG_PACKAGE_docker-compose is not set
# CONFIG_PACKAGE_gunicorn3 is not set
# CONFIG_PACKAGE_micropython is not set
# CONFIG_PACKAGE_micropython-lib is not set
CONFIG_PACKAGE_python-pip-conf=y
CONFIG_PACKAGE_python3=y
# CONFIG_PACKAGE_python3-aiohttp is not set
# CONFIG_PACKAGE_python3-aiohttp-cors is not set
# CONFIG_PACKAGE_python3-appdirs is not set
# CONFIG_PACKAGE_python3-asgiref is not set
# CONFIG_PACKAGE_python3-asn1crypto is not set
# CONFIG_PACKAGE_python3-astral is not set
# CONFIG_PACKAGE_python3-async-timeout is not set
CONFIG_PACKAGE_python3-asyncio=y
# CONFIG_PACKAGE_python3-asyncio-src is not set
# CONFIG_PACKAGE_python3-atomicwrites is not set
# CONFIG_PACKAGE_python3-attrs is not set
# CONFIG_PACKAGE_python3-automat is not set
# CONFIG_PACKAGE_python3-awscli is not set
CONFIG_PACKAGE_python3-base=y
# CONFIG_PACKAGE_python3-base-src is not set
# CONFIG_PACKAGE_python3-bcrypt is not set
# CONFIG_PACKAGE_python3-boto3 is not set
# CONFIG_PACKAGE_python3-botocore is not set
# CONFIG_PACKAGE_python3-bottle is not set
# CONFIG_PACKAGE_python3-cached-property is not set
# CONFIG_PACKAGE_python3-cachelib is not set
# CONFIG_PACKAGE_python3-cachetools is not set
# CONFIG_PACKAGE_python3-certifi is not set
# CONFIG_PACKAGE_python3-cffi is not set
CONFIG_PACKAGE_python3-cgi=y
# CONFIG_PACKAGE_python3-cgi-src is not set
CONFIG_PACKAGE_python3-cgitb=y
# CONFIG_PACKAGE_python3-cgitb-src is not set
# CONFIG_PACKAGE_python3-chardet is not set
# CONFIG_PACKAGE_python3-click is not set
# CONFIG_PACKAGE_python3-click-log is not set
CONFIG_PACKAGE_python3-codecs=y
# CONFIG_PACKAGE_python3-codecs-src is not set
# CONFIG_PACKAGE_python3-colorama is not set
# CONFIG_PACKAGE_python3-constantly is not set
# CONFIG_PACKAGE_python3-contextlib2 is not set
# CONFIG_PACKAGE_python3-cryptodome is not set
# CONFIG_PACKAGE_python3-cryptodomex is not set
# CONFIG_PACKAGE_python3-cryptography is not set
CONFIG_PACKAGE_python3-ctypes=y
# CONFIG_PACKAGE_python3-ctypes-src is not set
# CONFIG_PACKAGE_python3-curl is not set
CONFIG_PACKAGE_python3-dateutil=y
# CONFIG_PACKAGE_python3-dateutil-src is not set
CONFIG_PACKAGE_python3-dbm=y
# CONFIG_PACKAGE_python3-dbm-src is not set
CONFIG_PACKAGE_python3-decimal=y
# CONFIG_PACKAGE_python3-decimal-src is not set
# CONFIG_PACKAGE_python3-decorator is not set
# CONFIG_PACKAGE_python3-defusedxml is not set
# CONFIG_PACKAGE_python3-dev is not set
# CONFIG_PACKAGE_python3-distro is not set
CONFIG_PACKAGE_python3-distutils=y
# CONFIG_PACKAGE_python3-distutils-src is not set
# CONFIG_PACKAGE_python3-django is not set
# CONFIG_PACKAGE_python3-django-appconf is not set
# CONFIG_PACKAGE_python3-django-compressor is not set
# CONFIG_PACKAGE_python3-django-cors-headers is not set
# CONFIG_PACKAGE_python3-django-etesync-journal is not set
# CONFIG_PACKAGE_python3-django-formtools is not set
# CONFIG_PACKAGE_python3-django-jsonfield is not set
# CONFIG_PACKAGE_python3-django-jsonfield2 is not set
# CONFIG_PACKAGE_python3-django-picklefield is not set
# CONFIG_PACKAGE_python3-django-postoffice is not set
# CONFIG_PACKAGE_python3-django-ranged-response is not set
# CONFIG_PACKAGE_python3-django-restframework is not set
# CONFIG_PACKAGE_python3-django-restframework39 is not set
# CONFIG_PACKAGE_python3-django-simple-captcha is not set
# CONFIG_PACKAGE_python3-django-statici18n is not set
# CONFIG_PACKAGE_python3-django-webpack-loader is not set
# CONFIG_PACKAGE_python3-django1 is not set
# CONFIG_PACKAGE_python3-dns is not set
# CONFIG_PACKAGE_python3-docker is not set
# CONFIG_PACKAGE_python3-dockerpty is not set
# CONFIG_PACKAGE_python3-docopt is not set
# CONFIG_PACKAGE_python3-docutils is not set
# CONFIG_PACKAGE_python3-dotenv is not set
# CONFIG_PACKAGE_python3-drf-nested-routers is not set
CONFIG_PACKAGE_python3-email=y
# CONFIG_PACKAGE_python3-email-src is not set
# CONFIG_PACKAGE_python3-et_xmlfile is not set
# CONFIG_PACKAGE_python3-evdev is not set
# CONFIG_PACKAGE_python3-flask is not set
# CONFIG_PACKAGE_python3-flask-login is not set
CONFIG_PACKAGE_python3-gdbm=y
# CONFIG_PACKAGE_python3-gdbm-src is not set
# CONFIG_PACKAGE_python3-gmpy2 is not set
# CONFIG_PACKAGE_python3-gnupg is not set
# CONFIG_PACKAGE_python3-gpiod is not set
# CONFIG_PACKAGE_python3-gunicorn is not set
# CONFIG_PACKAGE_python3-hyperlink is not set
# CONFIG_PACKAGE_python3-idna is not set
# CONFIG_PACKAGE_python3-ifaddr is not set
# CONFIG_PACKAGE_python3-incremental is not set
# CONFIG_PACKAGE_python3-influxdb is not set
# CONFIG_PACKAGE_python3-intelhex is not set
# CONFIG_PACKAGE_python3-itsdangerous is not set
# CONFIG_PACKAGE_python3-jdcal is not set
# CONFIG_PACKAGE_python3-jinja2 is not set
# CONFIG_PACKAGE_python3-jmespath is not set
# CONFIG_PACKAGE_python3-jsonpath-ng is not set
# CONFIG_PACKAGE_python3-jsonschema is not set
# CONFIG_PACKAGE_python3-lib2to3 is not set
# CONFIG_PACKAGE_python3-libmodbus is not set
CONFIG_PACKAGE_python3-light=y

#
# Configuration
#
# CONFIG_PYTHON3_BLUETOOTH_SUPPORT is not set
# end of Configuration

# CONFIG_PACKAGE_python3-light-src is not set
CONFIG_PACKAGE_python3-logging=y
# CONFIG_PACKAGE_python3-logging-src is not set
# CONFIG_PACKAGE_python3-lxml is not set
CONFIG_PACKAGE_python3-lzma=y
# CONFIG_PACKAGE_python3-lzma-src is not set
# CONFIG_PACKAGE_python3-markdown is not set
# CONFIG_PACKAGE_python3-markupsafe is not set
# CONFIG_PACKAGE_python3-maxminddb is not set
# CONFIG_PACKAGE_python3-more-itertools is not set
# CONFIG_PACKAGE_python3-multidict is not set
CONFIG_PACKAGE_python3-multiprocessing=y
# CONFIG_PACKAGE_python3-multiprocessing-src is not set
# CONFIG_PACKAGE_python3-mysqlclient is not set
CONFIG_PACKAGE_python3-ncurses=y
# CONFIG_PACKAGE_python3-ncurses-src is not set
# CONFIG_PACKAGE_python3-netdisco is not set
# CONFIG_PACKAGE_python3-netifaces is not set
# CONFIG_PACKAGE_python3-newt is not set
# CONFIG_PACKAGE_python3-numpy is not set
# CONFIG_PACKAGE_python3-oauthlib is not set
# CONFIG_PACKAGE_python3-openpyxl is not set
CONFIG_PACKAGE_python3-openssl=y
# CONFIG_PACKAGE_python3-openssl-src is not set
# CONFIG_PACKAGE_python3-packages is not set
# CONFIG_PACKAGE_python3-packaging is not set
# CONFIG_PACKAGE_python3-paho-mqtt is not set
# CONFIG_PACKAGE_python3-paramiko is not set
# CONFIG_PACKAGE_python3-parsley is not set
# CONFIG_PACKAGE_python3-passlib is not set
# CONFIG_PACKAGE_python3-pillow is not set
CONFIG_PACKAGE_python3-pip=y
# CONFIG_PACKAGE_python3-pip-src is not set
CONFIG_PACKAGE_python3-pkg-resources=y
# CONFIG_PACKAGE_python3-pkg-resources-src is not set
# CONFIG_PACKAGE_python3-pluggy is not set
# CONFIG_PACKAGE_python3-ply is not set
# CONFIG_PACKAGE_python3-py is not set
# CONFIG_PACKAGE_python3-pyasn1 is not set
# CONFIG_PACKAGE_python3-pyasn1-modules is not set
# CONFIG_PACKAGE_python3-pycparser is not set
CONFIG_PACKAGE_python3-pydoc=y
# CONFIG_PACKAGE_python3-pydoc-src is not set
# CONFIG_PACKAGE_python3-pyjwt is not set
# CONFIG_PACKAGE_python3-pymysql is not set
# CONFIG_PACKAGE_python3-pynacl is not set
# CONFIG_PACKAGE_python3-pyodbc is not set
# CONFIG_PACKAGE_python3-pyopenssl is not set
# CONFIG_PACKAGE_python3-pyotp is not set
# CONFIG_PACKAGE_python3-pyparsing is not set
# CONFIG_PACKAGE_python3-pyroute2 is not set
# CONFIG_PACKAGE_python3-pyrsistent is not set
# CONFIG_PACKAGE_python3-pyserial is not set
# CONFIG_PACKAGE_python3-pytest is not set
# CONFIG_PACKAGE_python3-pytz is not set
# CONFIG_PACKAGE_python3-qrcode is not set
# CONFIG_PACKAGE_python3-rcssmin is not set
# CONFIG_PACKAGE_python3-requests is not set
# CONFIG_PACKAGE_python3-requests-oauthlib is not set
# CONFIG_PACKAGE_python3-rsa is not set
# CONFIG_PACKAGE_python3-ruamel-yaml is not set
# CONFIG_PACKAGE_python3-s3transfer is not set
# CONFIG_PACKAGE_python3-schedule is not set
# CONFIG_PACKAGE_python3-schema is not set
# CONFIG_PACKAGE_python3-seafile-ccnet is not set
# CONFIG_PACKAGE_python3-seafile-server is not set
# CONFIG_PACKAGE_python3-searpc is not set
# CONFIG_PACKAGE_python3-sentry-sdk is not set
# CONFIG_PACKAGE_python3-service-identity is not set
CONFIG_PACKAGE_python3-setuptools=y
# CONFIG_PACKAGE_python3-setuptools-src is not set
# CONFIG_PACKAGE_python3-simplejson is not set
CONFIG_PACKAGE_python3-six=y
# CONFIG_PACKAGE_python3-six-src is not set
# CONFIG_PACKAGE_python3-slugify is not set
# CONFIG_PACKAGE_python3-smbus is not set
# CONFIG_PACKAGE_python3-speedtest-cli is not set
# CONFIG_PACKAGE_python3-sqlalchemy is not set
CONFIG_PACKAGE_python3-sqlite3=y
# CONFIG_PACKAGE_python3-sqlite3-src is not set
# CONFIG_PACKAGE_python3-sqlparse is not set
# CONFIG_PACKAGE_python3-stem is not set
# CONFIG_PACKAGE_python3-sysrepo is not set
# CONFIG_PACKAGE_python3-text-unidecode is not set
# CONFIG_PACKAGE_python3-texttable is not set
# CONFIG_PACKAGE_python3-twisted is not set
# CONFIG_PACKAGE_python3-unidecode is not set
CONFIG_PACKAGE_python3-unittest=y
# CONFIG_PACKAGE_python3-unittest-src is not set
CONFIG_PACKAGE_python3-urllib=y
# CONFIG_PACKAGE_python3-urllib-src is not set
CONFIG_PACKAGE_python3-urllib3=y
# CONFIG_PACKAGE_python3-urllib3-src is not set
# CONFIG_PACKAGE_python3-vobject is not set
# CONFIG_PACKAGE_python3-voluptuous is not set
# CONFIG_PACKAGE_python3-voluptuous-serialize is not set
# CONFIG_PACKAGE_python3-wcwidth is not set
# CONFIG_PACKAGE_python3-websocket-client is not set
# CONFIG_PACKAGE_python3-werkzeug is not set
CONFIG_PACKAGE_python3-xml=y
# CONFIG_PACKAGE_python3-xml-src is not set
# CONFIG_PACKAGE_python3-xmltodict is not set
CONFIG_PACKAGE_python3-yaml=y
# CONFIG_PACKAGE_python3-yaml-src is not set
# CONFIG_PACKAGE_python3-yarl is not set
# CONFIG_PACKAGE_python3-zeroconf is not set
# CONFIG_PACKAGE_python3-zipp is not set
# CONFIG_PACKAGE_python3-zope-interface is not set
# end of Python

#
# Ruby
#
# CONFIG_PACKAGE_ruby is not set
# end of Ruby

#
# Tcl
#
# CONFIG_PACKAGE_tcl is not set
# end of Tcl

# CONFIG_PACKAGE_chicken-scheme-full is not set
# CONFIG_PACKAGE_chicken-scheme-interpreter is not set
# CONFIG_PACKAGE_slsh is not set
# end of Languages


#
# Utilities
#

#
# BigClown
#
# CONFIG_PACKAGE_bigclown-control-tool is not set
# CONFIG_PACKAGE_bigclown-firmware-tool is not set
# CONFIG_PACKAGE_bigclown-gateway is not set
# CONFIG_PACKAGE_bigclown-mqtt2influxdb is not set
# end of BigClown

#
# Boot Loaders
#
# CONFIG_PACKAGE_fconfig is not set
# CONFIG_PACKAGE_uboot-envtools is not set
# end of Boot Loaders

#
# Compression
#
# CONFIG_PACKAGE_bsdtar is not set
# CONFIG_PACKAGE_bsdtar-noopenssl is not set
CONFIG_PACKAGE_bzip2=y
CONFIG_PACKAGE_gzip=y
# CONFIG_PACKAGE_lz4 is not set
CONFIG_PACKAGE_pigz=y
CONFIG_PACKAGE_unrar=y
CONFIG_PACKAGE_unzip=y
CONFIG_PACKAGE_xz-utils=y
CONFIG_PACKAGE_lzmadec=y
CONFIG_PACKAGE_lzmainfo=y
CONFIG_PACKAGE_xz=y
CONFIG_PACKAGE_xzdec=y
CONFIG_PACKAGE_xzdiff=y
CONFIG_PACKAGE_xzgrep=y
CONFIG_PACKAGE_xzless=y
CONFIG_PACKAGE_xzmore=y
# CONFIG_PACKAGE_zipcmp is not set
# CONFIG_PACKAGE_zipmerge is not set
# CONFIG_PACKAGE_ziptool is not set
CONFIG_PACKAGE_zstd=y
# end of Compression

#
# Database
#
# CONFIG_PACKAGE_mariadb-common is not set
# CONFIG_PACKAGE_pgsql-cli is not set
# CONFIG_PACKAGE_pgsql-cli-extra is not set
# CONFIG_PACKAGE_pgsql-server is not set
# CONFIG_PACKAGE_rrdcgi1 is not set
# CONFIG_PACKAGE_rrdtool1 is not set
CONFIG_PACKAGE_sqlite3-cli=y

#
# Configuration
#
CONFIG_SQLITE3_LIBEDIT=y
# CONFIG_SQLITE3_READLINE is not set
# CONFIG_SQLITE3_READLINE_NONE is not set
# end of Configuration

# CONFIG_PACKAGE_unixodbc-tools is not set
# end of Database

#
# Disc
#
# CONFIG_PACKAGE_blkdiscard is not set
CONFIG_PACKAGE_blkid=y
# CONFIG_PACKAGE_blockdev is not set
# CONFIG_PACKAGE_cfdisk is not set
# CONFIG_PACKAGE_cgdisk is not set
# CONFIG_PACKAGE_eject is not set
CONFIG_PACKAGE_fdisk=y
# CONFIG_PACKAGE_findfs is not set
# CONFIG_PACKAGE_fio is not set
# CONFIG_PACKAGE_fixparts is not set
# CONFIG_PACKAGE_gdisk is not set
CONFIG_PACKAGE_hd-idle=y
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_lsblk=y
# CONFIG_PACKAGE_lvm2 is not set
# CONFIG_PACKAGE_mdadm is not set
CONFIG_PACKAGE_parted=y
# CONFIG_PACKAGE_partx-utils is not set
# CONFIG_PACKAGE_sfdisk is not set
# CONFIG_PACKAGE_sgdisk is not set
# CONFIG_PACKAGE_wipefs is not set
# end of Disc

#
# Editors
#
# CONFIG_PACKAGE_joe is not set
# CONFIG_PACKAGE_jupp is not set
# CONFIG_PACKAGE_mg is not set
CONFIG_PACKAGE_nano=y
# CONFIG_PACKAGE_vim is not set
# CONFIG_PACKAGE_vim-full is not set
CONFIG_PACKAGE_vim-fuller=y
# CONFIG_PACKAGE_vim-help is not set
# CONFIG_PACKAGE_vim-runtime is not set
# CONFIG_PACKAGE_zile is not set
# end of Editors

#
# Encryption
#
# CONFIG_PACKAGE_ccrypt is not set
CONFIG_PACKAGE_certtool=y
# CONFIG_PACKAGE_cryptsetup is not set
CONFIG_PACKAGE_gnupg=y
# CONFIG_PACKAGE_gnupg-utils is not set
# CONFIG_PACKAGE_gnutls-utils is not set
# CONFIG_PACKAGE_gpgv is not set
# CONFIG_PACKAGE_keyctl is not set
# CONFIG_PACKAGE_px5g-mbedtls is not set
# CONFIG_PACKAGE_px5g-standalone is not set
# CONFIG_PACKAGE_stoken is not set
# end of Encryption

#
# Filesystem
#
CONFIG_PACKAGE_acl=y
# CONFIG_PACKAGE_antfs-mount is not set
CONFIG_PACKAGE_attr=y
CONFIG_PACKAGE_badblocks=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_BTRFS_PROGS_ZSTD=y
CONFIG_PACKAGE_chattr=y
# CONFIG_PACKAGE_debugfs is not set
CONFIG_PACKAGE_dosfstools=y
CONFIG_PACKAGE_dumpe2fs=y
CONFIG_PACKAGE_e2freefrag=y
CONFIG_PACKAGE_e2fsprogs=y
# CONFIG_PACKAGE_e4crypt is not set
CONFIG_PACKAGE_exfat-fsck=y
CONFIG_PACKAGE_exfat-mkfs=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_f2fsck=y
# CONFIG_PACKAGE_filefrag is not set
# CONFIG_PACKAGE_fstrim is not set
CONFIG_PACKAGE_fuse-utils=y
# CONFIG_PACKAGE_hfsfsck is not set
CONFIG_PACKAGE_lsattr=y
CONFIG_PACKAGE_mkf2fs=y
CONFIG_PACKAGE_mkhfs=y
# CONFIG_PACKAGE_ncdu is not set
CONFIG_PACKAGE_nfs-utils=y
CONFIG_PACKAGE_nfs-utils-libs=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_NTFS-3G_USE_LIBFUSE=y
CONFIG_PACKAGE_NTFS-3G_HAS_PROBE=y
# CONFIG_PACKAGE_ntfs-3g-low is not set
# CONFIG_PACKAGE_ntfs-3g-utils is not set
# CONFIG_PACKAGE_owfs is not set
# CONFIG_PACKAGE_owshell is not set
CONFIG_PACKAGE_resize2fs=y
CONFIG_PACKAGE_squashfs-tools-mksquashfs=y
CONFIG_PACKAGE_squashfs-tools-unsquashfs=y
CONFIG_SQUASHFS_TOOLS_LZO_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_LZ4_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_XZ_SUPPORT=y
CONFIG_SQUASHFS_TOOLS_ZSTD_SUPPORT=y
CONFIG_PACKAGE_swap-utils=y
CONFIG_PACKAGE_sysfsutils=y
CONFIG_PACKAGE_tune2fs=y
CONFIG_PACKAGE_xfs-admin=y
CONFIG_PACKAGE_xfs-fsck=y
CONFIG_PACKAGE_xfs-growfs=y
CONFIG_PACKAGE_xfs-mkfs=y
# end of Filesystem

#
# Image Manipulation
#
# CONFIG_PACKAGE_libjpeg-turbo-utils is not set
# CONFIG_PACKAGE_tiff-utils is not set
# end of Image Manipulation

#
# Microcontroller programming
#
# CONFIG_PACKAGE_avrdude is not set
# CONFIG_PACKAGE_dfu-programmer is not set
# CONFIG_PACKAGE_stm32flash is not set
# end of Microcontroller programming

#
# RTKLIB Suite
#
# CONFIG_PACKAGE_convbin is not set
# CONFIG_PACKAGE_pos2kml is not set
# CONFIG_PACKAGE_rnx2rtkp is not set
# CONFIG_PACKAGE_rtkrcv is not set
# CONFIG_PACKAGE_str2str is not set
# end of RTKLIB Suite

#
# Shells
#
CONFIG_PACKAGE_bash=y
# CONFIG_PACKAGE_fish is not set
# CONFIG_PACKAGE_klish is not set
# CONFIG_PACKAGE_mksh is not set
# CONFIG_PACKAGE_tcsh is not set
# CONFIG_PACKAGE_zsh is not set
# end of Shells

#
# Telephony
#
# CONFIG_PACKAGE_dahdi-cfg is not set
# CONFIG_PACKAGE_dahdi-monitor is not set
# CONFIG_PACKAGE_gsm-utils is not set
# CONFIG_PACKAGE_sipgrep is not set
# CONFIG_PACKAGE_sngrep is not set
# end of Telephony

#
# Terminal
#
# CONFIG_PACKAGE_agetty is not set
# CONFIG_PACKAGE_dvtm is not set
# CONFIG_PACKAGE_minicom is not set
# CONFIG_PACKAGE_picocom is not set
# CONFIG_PACKAGE_rtty-mbedtls is not set
# CONFIG_PACKAGE_rtty-nossl is not set
# CONFIG_PACKAGE_rtty-openssl is not set
# CONFIG_PACKAGE_rtty-wolfssl is not set
# CONFIG_PACKAGE_screen is not set
# CONFIG_PACKAGE_script-utils is not set
# CONFIG_PACKAGE_serialconsole is not set
# CONFIG_PACKAGE_setterm is not set
# CONFIG_PACKAGE_tio is not set
# CONFIG_PACKAGE_tmux is not set
CONFIG_PACKAGE_ttyd=y
# CONFIG_PACKAGE_wall is not set
# end of Terminal

#
# Virtualization
#
# CONFIG_PACKAGE_qemu-ga is not set
# CONFIG_PACKAGE_virtio-console-helper is not set
# end of Virtualization

#
# Zoneinfo
#
# CONFIG_PACKAGE_zoneinfo-africa is not set
# CONFIG_PACKAGE_zoneinfo-all is not set
CONFIG_PACKAGE_zoneinfo-asia=y
# CONFIG_PACKAGE_zoneinfo-atlantic is not set
# CONFIG_PACKAGE_zoneinfo-australia-nz is not set
# CONFIG_PACKAGE_zoneinfo-core is not set
# CONFIG_PACKAGE_zoneinfo-europe is not set
# CONFIG_PACKAGE_zoneinfo-india is not set
# CONFIG_PACKAGE_zoneinfo-northamerica is not set
# CONFIG_PACKAGE_zoneinfo-pacific is not set
# CONFIG_PACKAGE_zoneinfo-poles is not set
# CONFIG_PACKAGE_zoneinfo-simple is not set
# CONFIG_PACKAGE_zoneinfo-southamerica is not set
# end of Zoneinfo

#
# libimobiledevice
#
# CONFIG_PACKAGE_idevicerestore is not set
# CONFIG_PACKAGE_irecovery is not set
# CONFIG_PACKAGE_libimobiledevice-utils is not set
# CONFIG_PACKAGE_libusbmuxd-utils is not set
# CONFIG_PACKAGE_plistutil is not set
# CONFIG_PACKAGE_usbmuxd is not set
# end of libimobiledevice

# CONFIG_PACKAGE_acpid is not set
CONFIG_PACKAGE_adb=y
# CONFIG_PACKAGE_ap51-flash is not set
# CONFIG_PACKAGE_at is not set
# CONFIG_PACKAGE_bandwidthd is not set
# CONFIG_PACKAGE_bandwidthd-pgsql is not set
# CONFIG_PACKAGE_bandwidthd-php is not set
# CONFIG_PACKAGE_bandwidthd-sqlite is not set
# CONFIG_PACKAGE_banhostlist is not set
CONFIG_PACKAGE_bc=y
# CONFIG_PACKAGE_bluelog is not set
# CONFIG_PACKAGE_bluez-daemon is not set
# CONFIG_PACKAGE_bluez-utils is not set
# CONFIG_PACKAGE_bluez-utils-extra is not set
# CONFIG_PACKAGE_bonniexx is not set
# CONFIG_PACKAGE_bsdiff is not set
# CONFIG_PACKAGE_bspatch is not set
# CONFIG_PACKAGE_byobu is not set
# CONFIG_PACKAGE_byobu-utils is not set
# CONFIG_PACKAGE_cache-domains-mbedtls is not set
# CONFIG_PACKAGE_cache-domains-openssl is not set
# CONFIG_PACKAGE_cal is not set
# CONFIG_PACKAGE_canutils is not set
# CONFIG_PACKAGE_cgroup-tools is not set
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_CGROUPFS_MOUNT_KERNEL_CGROUPS=y
# CONFIG_PACKAGE_cmdpad is not set
# CONFIG_PACKAGE_coap-client is not set
# CONFIG_PACKAGE_collectd is not set
CONFIG_PACKAGE_containerd=y
CONFIG_CONTAINERD_SECCOMP=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_coreutils=y
# CONFIG_PACKAGE_coreutils-b2sum is not set
# CONFIG_PACKAGE_coreutils-base32 is not set
CONFIG_PACKAGE_coreutils-base64=y
# CONFIG_PACKAGE_coreutils-basename is not set
# CONFIG_PACKAGE_coreutils-basenc is not set
# CONFIG_PACKAGE_coreutils-cat is not set
# CONFIG_PACKAGE_coreutils-chcon is not set
# CONFIG_PACKAGE_coreutils-chgrp is not set
# CONFIG_PACKAGE_coreutils-chmod is not set
# CONFIG_PACKAGE_coreutils-chown is not set
# CONFIG_PACKAGE_coreutils-chroot is not set
# CONFIG_PACKAGE_coreutils-cksum is not set
# CONFIG_PACKAGE_coreutils-comm is not set
# CONFIG_PACKAGE_coreutils-cp is not set
# CONFIG_PACKAGE_coreutils-csplit is not set
# CONFIG_PACKAGE_coreutils-cut is not set
# CONFIG_PACKAGE_coreutils-date is not set
# CONFIG_PACKAGE_coreutils-dd is not set
# CONFIG_PACKAGE_coreutils-df is not set
# CONFIG_PACKAGE_coreutils-dir is not set
# CONFIG_PACKAGE_coreutils-dircolors is not set
# CONFIG_PACKAGE_coreutils-dirname is not set
# CONFIG_PACKAGE_coreutils-du is not set
# CONFIG_PACKAGE_coreutils-echo is not set
# CONFIG_PACKAGE_coreutils-env is not set
# CONFIG_PACKAGE_coreutils-expand is not set
# CONFIG_PACKAGE_coreutils-expr is not set
# CONFIG_PACKAGE_coreutils-factor is not set
# CONFIG_PACKAGE_coreutils-false is not set
# CONFIG_PACKAGE_coreutils-fmt is not set
# CONFIG_PACKAGE_coreutils-fold is not set
# CONFIG_PACKAGE_coreutils-groups is not set
# CONFIG_PACKAGE_coreutils-head is not set
# CONFIG_PACKAGE_coreutils-hostid is not set
# CONFIG_PACKAGE_coreutils-id is not set
# CONFIG_PACKAGE_coreutils-install is not set
# CONFIG_PACKAGE_coreutils-join is not set
# CONFIG_PACKAGE_coreutils-kill is not set
# CONFIG_PACKAGE_coreutils-link is not set
# CONFIG_PACKAGE_coreutils-ln is not set
# CONFIG_PACKAGE_coreutils-logname is not set
# CONFIG_PACKAGE_coreutils-ls is not set
# CONFIG_PACKAGE_coreutils-md5sum is not set
# CONFIG_PACKAGE_coreutils-mkdir is not set
# CONFIG_PACKAGE_coreutils-mkfifo is not set
# CONFIG_PACKAGE_coreutils-mknod is not set
# CONFIG_PACKAGE_coreutils-mktemp is not set
# CONFIG_PACKAGE_coreutils-mv is not set
# CONFIG_PACKAGE_coreutils-nice is not set
# CONFIG_PACKAGE_coreutils-nl is not set
CONFIG_PACKAGE_coreutils-nohup=y
# CONFIG_PACKAGE_coreutils-nproc is not set
# CONFIG_PACKAGE_coreutils-numfmt is not set
# CONFIG_PACKAGE_coreutils-od is not set
# CONFIG_PACKAGE_coreutils-paste is not set
# CONFIG_PACKAGE_coreutils-pathchk is not set
# CONFIG_PACKAGE_coreutils-pinky is not set
# CONFIG_PACKAGE_coreutils-pr is not set
CONFIG_PACKAGE_coreutils-printenv=y
# CONFIG_PACKAGE_coreutils-printf is not set
# CONFIG_PACKAGE_coreutils-ptx is not set
# CONFIG_PACKAGE_coreutils-pwd is not set
# CONFIG_PACKAGE_coreutils-readlink is not set
CONFIG_PACKAGE_coreutils-realpath=y
# CONFIG_PACKAGE_coreutils-rm is not set
# CONFIG_PACKAGE_coreutils-rmdir is not set
# CONFIG_PACKAGE_coreutils-runcon is not set
# CONFIG_PACKAGE_coreutils-seq is not set
# CONFIG_PACKAGE_coreutils-sha1sum is not set
# CONFIG_PACKAGE_coreutils-sha224sum is not set
# CONFIG_PACKAGE_coreutils-sha256sum is not set
# CONFIG_PACKAGE_coreutils-sha384sum is not set
# CONFIG_PACKAGE_coreutils-sha512sum is not set
# CONFIG_PACKAGE_coreutils-shred is not set
# CONFIG_PACKAGE_coreutils-shuf is not set
# CONFIG_PACKAGE_coreutils-sleep is not set
# CONFIG_PACKAGE_coreutils-sort is not set
CONFIG_PACKAGE_coreutils-split=y
# CONFIG_PACKAGE_coreutils-stat is not set
# CONFIG_PACKAGE_coreutils-stdbuf is not set
# CONFIG_PACKAGE_coreutils-stty is not set
CONFIG_PACKAGE_coreutils-sum=y
# CONFIG_PACKAGE_coreutils-sync is not set
# CONFIG_PACKAGE_coreutils-tac is not set
# CONFIG_PACKAGE_coreutils-tail is not set
# CONFIG_PACKAGE_coreutils-tee is not set
# CONFIG_PACKAGE_coreutils-test is not set
# CONFIG_PACKAGE_coreutils-timeout is not set
# CONFIG_PACKAGE_coreutils-touch is not set
# CONFIG_PACKAGE_coreutils-tr is not set
# CONFIG_PACKAGE_coreutils-true is not set
# CONFIG_PACKAGE_coreutils-truncate is not set
# CONFIG_PACKAGE_coreutils-tsort is not set
# CONFIG_PACKAGE_coreutils-tty is not set
# CONFIG_PACKAGE_coreutils-uname is not set
# CONFIG_PACKAGE_coreutils-unexpand is not set
# CONFIG_PACKAGE_coreutils-uniq is not set
# CONFIG_PACKAGE_coreutils-unlink is not set
# CONFIG_PACKAGE_coreutils-uptime is not set
# CONFIG_PACKAGE_coreutils-users is not set
# CONFIG_PACKAGE_coreutils-vdir is not set
# CONFIG_PACKAGE_coreutils-wc is not set
# CONFIG_PACKAGE_coreutils-who is not set
# CONFIG_PACKAGE_coreutils-whoami is not set
# CONFIG_PACKAGE_coreutils-yes is not set
# CONFIG_PACKAGE_crconf is not set
# CONFIG_PACKAGE_crelay is not set
# CONFIG_PACKAGE_csstidy is not set
# CONFIG_PACKAGE_ct-bugcheck is not set
# CONFIG_PACKAGE_ctop is not set
CONFIG_PACKAGE_dbus=y
# CONFIG_PACKAGE_dbus-utils is not set
# CONFIG_PACKAGE_dc is not set
# CONFIG_PACKAGE_device-observatory is not set
# CONFIG_PACKAGE_dfu-util is not set
# CONFIG_PACKAGE_digitemp is not set
# CONFIG_PACKAGE_digitemp-usb is not set
CONFIG_PACKAGE_dmesg=y
CONFIG_PACKAGE_docker-ce=y
CONFIG_DOCKER_KERNEL_OPTIONS=y
CONFIG_DOCKER_SECCOMP=y
CONFIG_DOCKER_RES_SHAPE=y

#
# Network
#
CONFIG_DOCKER_NET_OVERLAY=y
# CONFIG_DOCKER_NET_ENCRYPT is not set
CONFIG_DOCKER_NET_MACVLAN=y
CONFIG_DOCKER_NET_TFTP=y
# end of Network

#
# Storage
#
CONFIG_DOCKER_STO_EXT4=y
CONFIG_DOCKER_STO_BTRFS=y
# end of Storage

# CONFIG_PACKAGE_domoticz is not set
# CONFIG_PACKAGE_dropbearconvert is not set
# CONFIG_PACKAGE_dtc is not set
# CONFIG_PACKAGE_dump1090 is not set
# CONFIG_PACKAGE_ecdsautils is not set
# CONFIG_PACKAGE_elektra-kdb is not set
# CONFIG_PACKAGE_evtest is not set
# CONFIG_PACKAGE_extract is not set
# CONFIG_PACKAGE_fbtest is not set
# CONFIG_PACKAGE_fdt-utils is not set
CONFIG_PACKAGE_file=y
# CONFIG_PACKAGE_findutils is not set
# CONFIG_PACKAGE_findutils-find is not set
# CONFIG_PACKAGE_findutils-locate is not set
# CONFIG_PACKAGE_findutils-xargs is not set
# CONFIG_PACKAGE_flashrom is not set
# CONFIG_PACKAGE_flashrom-pci is not set
# CONFIG_PACKAGE_flashrom-spi is not set
# CONFIG_PACKAGE_flashrom-usb is not set
# CONFIG_PACKAGE_flent-tools is not set
# CONFIG_PACKAGE_flock is not set
# CONFIG_PACKAGE_fritz-caldata is not set
# CONFIG_PACKAGE_fritz-tffs is not set
# CONFIG_PACKAGE_fritz-tffs-nand is not set
# CONFIG_PACKAGE_ftdi_eeprom is not set
# CONFIG_PACKAGE_gammu is not set
CONFIG_PACKAGE_gawk=y
# CONFIG_PACKAGE_gddrescue is not set
CONFIG_PACKAGE_getopt=y
# CONFIG_PACKAGE_giflib-utils is not set
# CONFIG_PACKAGE_gkermit is not set
# CONFIG_PACKAGE_gnuplot is not set
# CONFIG_PACKAGE_gpioctl-sysfs is not set
# CONFIG_PACKAGE_gpiod-tools is not set
# CONFIG_PACKAGE_gpsd is not set
# CONFIG_PACKAGE_gpsd-clients is not set
# CONFIG_PACKAGE_grep is not set
# CONFIG_PACKAGE_hamlib is not set
# CONFIG_PACKAGE_haserl is not set
# CONFIG_PACKAGE_hashdeep is not set
# CONFIG_PACKAGE_haveged is not set
# CONFIG_PACKAGE_hplip-common is not set
# CONFIG_PACKAGE_hplip-sane is not set
# CONFIG_PACKAGE_hub-ctrl is not set
# CONFIG_PACKAGE_hwclock is not set
# CONFIG_PACKAGE_hwinfo is not set
# CONFIG_PACKAGE_hwloc-utils is not set
# CONFIG_PACKAGE_i2c-tools is not set
CONFIG_PACKAGE_iconv=y
# CONFIG_PACKAGE_iio-utils is not set
# CONFIG_PACKAGE_inotifywait is not set
# CONFIG_PACKAGE_inotifywatch is not set
# CONFIG_PACKAGE_io is not set
# CONFIG_PACKAGE_ipfs-http-client-tests is not set
# CONFIG_PACKAGE_irqbalance is not set
# CONFIG_PACKAGE_iwcap is not set
CONFIG_PACKAGE_iwinfo=y
# CONFIG_PACKAGE_jq is not set
CONFIG_PACKAGE_jshn=y
CONFIG_PACKAGE_kmod=m
# CONFIG_PACKAGE_lcd4linux-custom is not set
# CONFIG_PACKAGE_lcd4linux-full is not set
# CONFIG_PACKAGE_lcdproc-clients is not set
# CONFIG_PACKAGE_lcdproc-drivers is not set
# CONFIG_PACKAGE_lcdproc-server is not set
# CONFIG_PACKAGE_less is not set
CONFIG_PACKAGE_less-wide=y
CONFIG_PACKAGE_libjson-script=y
CONFIG_PACKAGE_libnetwork=y
# CONFIG_PACKAGE_libxml2-utils is not set
# CONFIG_PACKAGE_lm-sensors is not set
# CONFIG_PACKAGE_lm-sensors-detect is not set
# CONFIG_PACKAGE_logger is not set
# CONFIG_PACKAGE_logrotate is not set
# CONFIG_PACKAGE_look is not set
CONFIG_PACKAGE_losetup=y
CONFIG_PACKAGE_lrzsz=y
CONFIG_PACKAGE_lscpu=y
CONFIG_PACKAGE_lsof=y
# CONFIG_PACKAGE_lxc is not set
# CONFIG_PACKAGE_maccalc is not set
# CONFIG_PACKAGE_macchanger is not set
# CONFIG_PACKAGE_mbedtls-util is not set
# CONFIG_PACKAGE_mbim-utils is not set
# CONFIG_PACKAGE_mbtools is not set
# CONFIG_PACKAGE_mc is not set
# CONFIG_PACKAGE_mcookie is not set
# CONFIG_PACKAGE_micrond is not set
# CONFIG_PACKAGE_mmc-utils is not set
# CONFIG_PACKAGE_more is not set
# CONFIG_PACKAGE_moreutils is not set
# CONFIG_PACKAGE_mosh-client is not set
# CONFIG_PACKAGE_mosh-full is not set
# CONFIG_PACKAGE_mosh-server is not set
CONFIG_PACKAGE_mount-utils=y
# CONFIG_PACKAGE_mpack is not set
# CONFIG_PACKAGE_mt-st is not set
# CONFIG_PACKAGE_namei is not set
# CONFIG_PACKAGE_netopeer2-cli is not set
# CONFIG_PACKAGE_netopeer2-keystored is not set
# CONFIG_PACKAGE_netopeer2-server is not set
# CONFIG_PACKAGE_netwhere is not set
# CONFIG_PACKAGE_nnn is not set
# CONFIG_PACKAGE_nsenter is not set
# CONFIG_PACKAGE_nss-utils is not set
# CONFIG_PACKAGE_oath-toolkit is not set
# CONFIG_PACKAGE_open-plc-utils is not set
# CONFIG_PACKAGE_open2300 is not set
# CONFIG_PACKAGE_openobex is not set
# CONFIG_PACKAGE_openobex-apps is not set
# CONFIG_PACKAGE_openocd is not set
# CONFIG_PACKAGE_opensc-utils is not set
CONFIG_PACKAGE_openssl-util=y
# CONFIG_PACKAGE_openzwave is not set
# CONFIG_PACKAGE_openzwave-config is not set
# CONFIG_PACKAGE_owipcalc is not set
# CONFIG_PACKAGE_pciutils is not set
# CONFIG_PACKAGE_pcsc-tools is not set
# CONFIG_PACKAGE_pcscd is not set
# CONFIG_PACKAGE_powertop is not set
# CONFIG_PACKAGE_pps-tools is not set
# CONFIG_PACKAGE_prlimit is not set
# CONFIG_PACKAGE_procps-ng is not set
# CONFIG_PACKAGE_progress is not set
# CONFIG_PACKAGE_prometheus is not set
# CONFIG_PACKAGE_prometheus-node-exporter-lua is not set
# CONFIG_PACKAGE_prometheus-statsd-exporter is not set
# CONFIG_PACKAGE_pservice is not set
# CONFIG_PACKAGE_pv is not set
# CONFIG_PACKAGE_qmi-utils is not set
# CONFIG_PACKAGE_qrencode is not set
# CONFIG_PACKAGE_quota is not set
# CONFIG_PACKAGE_ravpower-mcu is not set
CONFIG_PACKAGE_rclone=y
# CONFIG_PACKAGE_readsb is not set
# CONFIG_PACKAGE_relayctl is not set
# CONFIG_PACKAGE_rename is not set
# CONFIG_PACKAGE_restic is not set
# CONFIG_PACKAGE_rng-tools is not set
# CONFIG_PACKAGE_rtl-ais is not set
# CONFIG_PACKAGE_rtl-sdr is not set
# CONFIG_PACKAGE_rtl_433 is not set
CONFIG_PACKAGE_runc=y
CONFIG_RUNC_SECCOMP=y
# CONFIG_PACKAGE_sane-backends is not set
# CONFIG_PACKAGE_sane-daemon is not set
# CONFIG_PACKAGE_sane-frontends is not set
# CONFIG_PACKAGE_sed is not set
# CONFIG_PACKAGE_serdisplib-tools is not set
# CONFIG_PACKAGE_setserial is not set
# CONFIG_PACKAGE_shadow-utils is not set
CONFIG_PACKAGE_shellsync=y
# CONFIG_PACKAGE_sispmctl is not set
# CONFIG_PACKAGE_slide-switch is not set
# CONFIG_PACKAGE_smartd is not set
# CONFIG_PACKAGE_smartd-mail is not set
CONFIG_PACKAGE_smartmontools=y
# CONFIG_PACKAGE_smartmontools-drivedb is not set
# CONFIG_PACKAGE_smstools3 is not set
# CONFIG_PACKAGE_sockread is not set
# CONFIG_PACKAGE_spi-tools is not set
# CONFIG_PACKAGE_spidev-test is not set
# CONFIG_PACKAGE_ssdeep is not set
# CONFIG_PACKAGE_sshpass is not set
# CONFIG_PACKAGE_strace is not set
CONFIG_STRACE_NONE=y
# CONFIG_STRACE_LIBDW is not set
# CONFIG_STRACE_LIBUNWIND is not set
# CONFIG_PACKAGE_stress is not set
# CONFIG_PACKAGE_sumo is not set
# CONFIG_PACKAGE_syncthing is not set
# CONFIG_PACKAGE_sysrepo is not set
# CONFIG_PACKAGE_sysrepocfg is not set
# CONFIG_PACKAGE_sysrepoctl is not set
# CONFIG_PACKAGE_sysstat is not set
CONFIG_PACKAGE_tar=y
CONFIG_PACKAGE_TAR_POSIX_ACL=y
CONFIG_PACKAGE_TAR_XATTR=y
CONFIG_PACKAGE_TAR_BZIP2=y
CONFIG_PACKAGE_TAR_GZIP=y
CONFIG_PACKAGE_TAR_XZ=y
CONFIG_PACKAGE_TAR_ZSTD=y
# CONFIG_PACKAGE_taskwarrior is not set
# CONFIG_PACKAGE_telldus-core is not set
# CONFIG_PACKAGE_temperusb is not set
# CONFIG_PACKAGE_tesseract is not set
CONFIG_PACKAGE_tini=y
# CONFIG_PACKAGE_tracertools is not set
CONFIG_PACKAGE_tree=y
# CONFIG_PACKAGE_triggerhappy is not set
# CONFIG_PACKAGE_udns-dnsget is not set
# CONFIG_PACKAGE_udns-ex-rdns is not set
# CONFIG_PACKAGE_udns-rblcheck is not set
# CONFIG_PACKAGE_ugps is not set
# CONFIG_PACKAGE_uledd is not set
# CONFIG_PACKAGE_unshare is not set
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_usbreset=y
CONFIG_PACKAGE_usbutils=y
# CONFIG_PACKAGE_uuidd is not set
CONFIG_PACKAGE_uuidgen=y
# CONFIG_PACKAGE_uvcdynctrl is not set
# CONFIG_PACKAGE_v4l-utils is not set
# CONFIG_PACKAGE_view1090 is not set
# CONFIG_PACKAGE_viewadsb is not set
# CONFIG_PACKAGE_watchcat is not set
# CONFIG_PACKAGE_whereis is not set
# CONFIG_PACKAGE_which is not set
# CONFIG_PACKAGE_whiptail is not set
# CONFIG_PACKAGE_wifitoggle is not set
# CONFIG_PACKAGE_wipe is not set
# CONFIG_PACKAGE_xsltproc is not set
# CONFIG_PACKAGE_xxd is not set
# CONFIG_PACKAGE_yanglint is not set
# CONFIG_PACKAGE_yara is not set
# CONFIG_PACKAGE_ykclient is not set
# CONFIG_PACKAGE_ykpers is not set
# end of Utilities
